<div class="container-fluid">
    <div class="row">
        <div class="col" style="text-align: center;">
            <h4>This is what you are typing..........</h4>
        </div>
    </div>
    <div class="row">
        <div class="col SF-thin text-muted" style="text-align: center;font-size: 2.5rem;">
            {{typingWord}}
        </div>
    </div>
    <div class="row" style="padding-top:15px;">
        <div class="col" style="text-align: center;">
            <button style="width: 100%;" class="btn btn-secondary" (click)="clearValue()">Clear</button>
        </div>
    </div>
</div>