<div class="container">
    <div class="row">
        <div class="col" style="text-align: center;">
            <h3 style="font-size: 1.5rem;" class="SF-thin h3 text-muted">This is a example of data passing between two
                component</h3>
            <h4 style="font-size: 1rem;" class="SF-thin h4 text-muted">This demonstrate will show you the
                directive component usage</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="typingWord" placeholder="Type Anything">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-dashboard-directive-child [word]="typingWord" (response)="clearSearch($event)"></app-dashboard-directive-child>
        </div>
    </div>
</div>